body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:650px;
  width:1001px;
  height:51px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:51px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:472px;
  top:159px;
  width:156px;
  height:131px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:131px;
}
#u4 {
  position:absolute;
  left:2px;
  top:58px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:365px;
  top:387px;
  width:80px;
  height:16px;
  color:#666666;
  text-align:right;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:455px;
  top:383px;
  width:280px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'Arial Standard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:365px;
  top:422px;
  width:80px;
  height:16px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:455px;
  top:418px;
  width:280px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'Arial Standard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:723px;
  top:473px;
  width:125px;
  height:37px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:38px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:925px;
  top:603px;
  width:125px;
  height:37px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:38px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:390px;
  top:466px;
  width:320px;
  height:51px;
  overflow:hidden;
  visibility:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:51px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:315px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:171px;
  top:14px;
  width:122px;
  height:22px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:23px;
}
#u19 {
  position:absolute;
  left:2px;
  top:3px;
  width:118px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:365px;
  top:317px;
  width:371px;
  height:23px;
  overflow:hidden;
  visibility:hidden;
}
#u20_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:23px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:22px;
  font-family:'Century Gothic Standard', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:23px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
