body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -50px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:50px;
    top:650px;
    width:1001px;
    height:51px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:1001px;
    height:51px;
    
}

.u1_normal {
    background-image: url('../Login_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:50px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:56px;
}

.u2 {
    position:absolute;
    left:2px;
    top:17px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Login_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:472px;
    top:159px;
    width:156px;
    height:131px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:131px;
}

.u4 {
    position:absolute;
    left:2px;
    top:58px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:365px;
    top:387px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:455px;
    top:383px;
    width:280px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:365px;
    top:422px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:455px;
    top:418px;
    width:280px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9_mouseOver {
    background-image: url('../Login_files/u9_mouseOver.png');
}

.u9_normal {
    background-image: url('../Login_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:723px;
    top:473px;
    width:125px;
    height:37px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:43px;
}

.u10 {
    position:absolute;
    left:2px;
    top:10px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_mouseOver {
    background-image: url('../Login_files/u11_mouseOver.png');
}

.u11_normal {
    background-image: url('../Login_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:925px;
    top:603px;
    width:125px;
    height:37px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:43px;
}

.u12 {
    position:absolute;
    left:2px;
    top:10px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u13 {
    position:absolute;
    left:390px;
    top:466px;
    width:320px;
    height:51px;
    overflow:hidden;
}

#pd0u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:51px;
    
}

.u14_normal {
    background-image: url('../Login_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:0px;
    width:319px;
    height:50px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:56px;
}

.u15 {
    position:absolute;
    left:2px;
    top:17px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Login_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:171px;
    top:14px;
    width:122px;
    height:22px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:28px;
}

.u17 {
    position:absolute;
    left:2px;
    top:3px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u18 {
    position:absolute;
    left:365px;
    top:317px;
    width:371px;
    height:23px;
    overflow:hidden;
}

#pd0u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:371px;
    height:23px;
    
}

.u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:370px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

