body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -50px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:50px;
    top:650px;
    width:1001px;
    height:51px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:1001px;
    height:51px;
    
}

.u1_normal {
    background-image: url('../Registrieren_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:50px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:56px;
}

.u2 {
    position:absolute;
    left:2px;
    top:17px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Registrieren_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:472px;
    top:159px;
    width:156px;
    height:131px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:131px;
}

.u4 {
    position:absolute;
    left:2px;
    top:58px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:364px;
    top:428px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:454px;
    top:424px;
    width:280px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_mouseOver {
    background-image: url('../Registrieren_files/u7_mouseOver.png');
}

.u7_normal {
    background-image: url('../Registrieren_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:460px;
    top:467px;
    width:179px;
    height:37px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:43px;
}

.u8 {
    position:absolute;
    left:2px;
    top:10px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_mouseOver {
    background-image: url('../Registrieren_files/u9_mouseOver.png');
}

.u9_normal {
    background-image: url('../Registrieren_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:925px;
    top:603px;
    width:125px;
    height:37px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:43px;
}

.u10 {
    position:absolute;
    left:2px;
    top:10px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:364px;
    top:358px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:454px;
    top:354px;
    width:280px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:364px;
    top:393px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:454px;
    top:389px;
    width:280px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:494px;
    top:300px;
    width:240px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u16 {
    position:absolute;
    left:390px;
    top:524px;
    width:320px;
    height:51px;
    overflow:hidden;
}

#pd0u16 {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:51px;
    
}

.u17_normal {
    background-image: url('../Registrieren_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:319px;
    height:50px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:56px;
}

.u18 {
    position:absolute;
    left:2px;
    top:17px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Registrieren_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:189px;
    top:14px;
    width:122px;
    height:22px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:28px;
}

.u20 {
    position:absolute;
    left:2px;
    top:3px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

