* html .u1_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u1_normal.png");
}

* html .u3_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u3_mouseOver.png");
}

* html .u3_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u3_normal.png");
}

* html .u5_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u3_mouseOver.png");
}

* html .u5_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u3_normal.png");
}

* html .u8_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Slot1_u8_mouseOver.png");
}

* html .u8_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Slot1_u8_normal.png");
}

* html .u10_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Slot1_u8_mouseOver.png");
}

* html .u10_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Slot1_u8_normal.png");
}

* html .u12_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Slot1_u8_mouseOver.png");
}

* html .u12_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Slot1_u8_normal.png");
}

* html .u14_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Slot1_u8_mouseOver.png");
}

* html .u14_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Slot1_u8_normal.png");
}

* html .u16_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u16_normal.png");
}

* html .u18_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u18_normal.png");
}

* html .u20_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u20_normal.png");
}

* html .u22_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u22_normal.png");
}

* html .u25_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Rectangle_u25_normal.png");
}

* html .u27_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Rectangle_u27_normal.png");
}

* html .u29_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Rectangle_u29_normal.png");
}

* html .u31_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Rectangle_u31_normal.png");
}

* html .u33_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u33_normal.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Rectangle_u38_normal.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u40_normal.png");
}

* html .u42_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u42_normal.png");
}

* html .u47_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u47_normal.png");
}

* html .u49_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Gruppenchat_btn_u49_mouseOver.png");
}

* html .u49_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Gruppenchat_btn_u49_selected.png");
}

* html .u49_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Gruppenchat_btn_u49_normal.png");
}

* html .u51_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u51_normal.png");
}

* html .u53_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u53_line.png");
}

* html .u55_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u55_line.png");
}

* html .u56_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Gregor_btn_u56_mouseOver.png");
}

* html .u56_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Gregor_btn_u56_selected.png");
}

* html .u56_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Gregor_btn_u56_normal.png");
}

* html .u58_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u58_normal.png");
}

* html .u60_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/philipp_btn_u60_mouseOver.png");
}

* html .u60_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/philipp_btn_u60_selected.png");
}

* html .u60_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/philipp_btn_u60_normal.png");
}

* html .u62_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u58_normal.png");
}

* html .u64_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/anja_btn_u64_mouseOver.png");
}

* html .u64_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/anja_btn_u64_selected.png");
}

* html .u64_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/anja_btn_u64_normal.png");
}

* html .u66_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u58_normal.png");
}

* html .u68_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u68_line.png");
}

* html .u70_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/philipp_btn_u70_mouseOver.png");
}

* html .u70_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/philipp_btn_u70_selected.png");
}

* html .u70_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/philipp_btn_u70_normal.png");
}

* html .u75_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u75_line.png");
}

* html .u76_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u76_normal.png");
}

* html .u78_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Rectangle_u38_normal.png");
}

* html .u80_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u40_normal.png");
}

* html .u82_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u42_normal.png");
}

* html .u87_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u47_normal.png");
}

* html .u90_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u47_normal.png");
}

* html .u100_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u47_normal.png");
}

* html .u112_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u47_normal.png");
}

* html .u126_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Gruppenchat_btn_u49_mouseOver.png");
}

* html .u126_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Gruppenchat_btn_u49_selected.png");
}

* html .u126_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Gruppenchat_btn_u49_normal.png");
}

* html .u128_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u51_normal.png");
}

* html .u130_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u130_line.png");
}

* html .u132_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u132_line.png");
}

* html .u133_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Gregor_btn_u56_mouseOver.png");
}

* html .u133_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Gregor_btn_u56_selected.png");
}

* html .u133_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Gregor_btn_u56_normal.png");
}

* html .u135_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u58_normal.png");
}

* html .u137_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/philipp_btn_u60_mouseOver.png");
}

* html .u137_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/philipp_btn_u60_selected.png");
}

* html .u137_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/philipp_btn_u60_normal.png");
}

* html .u139_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u58_normal.png");
}

* html .u141_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/anja_btn_u64_mouseOver.png");
}

* html .u141_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/anja_btn_u64_selected.png");
}

* html .u141_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/anja_btn_u64_normal.png");
}

* html .u143_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u58_normal.png");
}

* html .u145_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u145_line.png");
}

* html .u147_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/philipp_btn_u70_mouseOver.png");
}

* html .u147_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/philipp_btn_u70_selected.png");
}

* html .u147_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/philipp_btn_u70_normal.png");
}

* html .u152_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u152_line.png");
}

* html .u153_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u76_normal.png");
}

* html .u156_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u156_normal.png");
}

* html .u158_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u76_normal.png");
}

* html .u160_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u160_normal.png");
}

* html .u162_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u162_normal.png");
}

* html .u164_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u156_normal.png");
}

* html .u166_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u76_normal.png");
}

* html .u168_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u160_normal.png");
}

* html .u170_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u162_normal.png");
}

* html .u172_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u172_normal.png");
}

* html .u174_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u174_normal.png");
}

* html .u176_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u176_normal.png");
}

* html .u178_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u178_normal.png");
}

* html .u180_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u178_normal.png");
}

* html .u187_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u187_mouseOver.png");
}

* html .u187_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u187_normal.png");
}

* html .u190_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u42_normal.png");
}

* html .u192_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u192_line.png");
}

* html .u195_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u195_mouseOver.png");
}

* html .u195_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u195_normal.png");
}

* html .u201_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u42_normal.png");
}

* html .u207_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u207_mouseOver.png");
}

* html .u207_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u207_normal.png");
}

* html .u209_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u209_line.png");
}

* html .u210_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u210_normal.png");
}

* html .u214_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u195_mouseOver.png");
}

* html .u214_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u195_normal.png");
}

* html .u219_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u42_normal.png");
}

* html .u221_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u42_normal.png");
}

* html .u223_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u76_normal.png");
}

* html .u225_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u225_normal.png");
}

* html .u227_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Button_u227_mouseOver.png");
}

* html .u227_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Button_u227_normal.png");
}

* html .u230_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u230_normal.png");
}

* html .u236_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u236_normal.png");
}

* html .u238_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u238_normal.png");
}

* html .u240_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Button_u240_normal.png");
}

* html .u242_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Button_u242_mouseOver.png");
}

* html .u242_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Button_u242_normal.png");
}

* html .u246_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u246_normal.png");
}

* html .u248_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u248_normal.png");
}

* html .u250_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u248_normal.png");
}

* html .u252_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u42_normal.png");
}

* html .u254_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u42_normal.png");
}

* html .u256_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u76_normal.png");
}

* html .u258_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u225_normal.png");
}

* html .u260_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Button_u227_mouseOver.png");
}

* html .u260_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Button_u227_normal.png");
}

* html .u263_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u230_normal.png");
}

* html .u270_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u236_normal.png");
}

* html .u272_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u238_normal.png");
}

* html .u274_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Button_u274_mouseOver.png");
}

* html .u274_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Button_u274_normal.png");
}

* html .u276_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Button_u242_mouseOver.png");
}

* html .u276_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Button_u242_normal.png");
}

* html .u280_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u246_normal.png");
}

* html .u282_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u248_normal.png");
}

* html .u284_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u248_normal.png");
}

* html .u287_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u236_normal.png");
}

* html .u289_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u238_normal.png");
}

* html .u291_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Button_u291_mouseOver.png");
}

* html .u291_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Button_u291_normal.png");
}

* html .u293_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Button_u293_mouseOver.png");
}

* html .u293_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Button_u293_normal.png");
}

* html .u295_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u295_normal.png");
}

* html .u297_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u42_normal.png");
}

* html .u300_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u300_normal.png");
}

* html .u302_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u42_normal.png");
}

* html .u305_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u305_normal.png");
}

* html .u307_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u307_normal.png");
}

* html .u309_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Rectangle_u309_normal.png");
}

* html .u311_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u311_normal.png");
}

* html .u313_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u307_normal.png");
}

* html .u315_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Rectangle_u309_normal.png");
}

* html .u318_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u318_normal.png");
}

* html .u320_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u320_normal.png");
}

* html .u322_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u320_normal.png");
}

* html .u324_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u324_normal.png");
}

* html .u327_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u318_normal.png");
}

* html .u329_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u320_normal.png");
}

* html .u331_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u320_normal.png");
}

* html .u333_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u324_normal.png");
}

* html .u336_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u318_normal.png");
}

* html .u338_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u320_normal.png");
}

* html .u340_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u320_normal.png");
}

* html .u342_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u324_normal.png");
}

* html .u345_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u76_normal.png");
}

* html .u347_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u347_normal.png");
}

* html .u351_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Rectangle_u351_normal.png");
}

* html .u353_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u353_normal.png");
}

* html .u356_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u356_normal.png");
}

* html .u358_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u358_normal.png");
}

* html .u360_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u360_normal.png");
}

* html .u362_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u360_normal.png");
}

* html .u364_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u360_normal.png");
}

* html .u366_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u366_normal.png");
}

* html .u368_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u368_normal.png");
}

* html .u370_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u370_normal.png");
}

* html .u372_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u372_normal.png");
}

* html .u374_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u374_normal.png");
}

* html .u376_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u376_normal.png");
}

* html .u378_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u358_normal.png");
}

* html .u380_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u372_normal.png");
}

* html .u382_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u382_normal.png");
}

* html .u384_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u384_normal.png");
}

* html .u387_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u387_normal.png");
}

* html .u389_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u389_normal.png");
}

* html .u391_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u391_normal.png");
}

* html .u393_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u393_normal.png");
}

* html .u398_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u300_normal.png");
}

* html .u400_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u42_normal.png");
}

* html .u402_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u356_normal.png");
}

* html .u405_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u305_normal.png");
}

* html .u407_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u307_normal.png");
}

* html .u409_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Rectangle_u309_normal.png");
}

* html .u411_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u353_normal.png");
}

* html .u413_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u353_normal.png");
}

* html .u415_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u353_normal.png");
}

* html .u420_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u311_normal.png");
}

* html .u422_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u307_normal.png");
}

* html .u424_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Rectangle_u309_normal.png");
}

* html .u426_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u353_normal.png");
}

* html .u428_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u353_normal.png");
}

* html .u430_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u353_normal.png");
}

* html .u436_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u318_normal.png");
}

* html .u438_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u320_normal.png");
}

* html .u440_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u320_normal.png");
}

* html .u442_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u324_normal.png");
}

* html .u445_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u318_normal.png");
}

* html .u447_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u320_normal.png");
}

* html .u449_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u320_normal.png");
}

* html .u451_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u324_normal.png");
}

* html .u454_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u318_normal.png");
}

* html .u456_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u320_normal.png");
}

* html .u458_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u320_normal.png");
}

* html .u460_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u324_normal.png");
}

* html .u463_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u76_normal.png");
}

* html .u465_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u358_normal.png");
}

* html .u467_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u360_normal.png");
}

* html .u469_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u360_normal.png");
}

* html .u471_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u360_normal.png");
}

* html .u473_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u366_normal.png");
}

* html .u475_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u368_normal.png");
}

* html .u477_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u370_normal.png");
}

* html .u479_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u372_normal.png");
}

* html .u481_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u374_normal.png");
}

* html .u483_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u376_normal.png");
}

* html .u485_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u358_normal.png");
}

* html .u487_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u372_normal.png");
}

* html .u489_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u382_normal.png");
}

* html .u491_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u347_normal.png");
}

* html .u499_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Rectangle_u351_normal.png");
}

* html .u501_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u353_normal.png");
}

* html .u504_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u384_normal.png");
}

* html .u507_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u387_normal.png");
}

* html .u509_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u389_normal.png");
}

* html .u511_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u391_normal.png");
}

* html .u513_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u393_normal.png");
}

* html .u519_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u519_normal.png");
}

* html .u521_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u521_normal.png");
}

* html .u524_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u519_normal.png");
}

* html .u526_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u526_normal.png");
}

* html .u529_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u529_normal.png");
}

* html .u531_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u531_normal.png");
}

* html .u534_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u534_normal.png");
}

* html .u537_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u537_normal.png");
}

* html .u545_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Rectangle_Raunded_u545_normal.png");
}

* html .u547_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u537_normal.png");
}

* html .u552_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u552_normal.png");
}

* html .u555_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u555_normal.png");
}

* html .u561_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/Rectangle_Raunded_u545_normal.png");
}

* html .u563_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u563_normal.png");
}

* html .u565_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u565_normal.png");
}

* html .u567_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u567_normal.png");
}

* html .u569_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u569_normal.png");
}

* html .u571_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u571_normal.png");
}

* html .u574_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u574_normal.png");
}

* html .u576_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u576_normal.png");
}

* html .u579_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u579_normal.png");
}

* html .u581_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u387_normal.png");
}

* html .u583_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u387_normal.png");
}

* html .u586_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u576_normal.png");
}

* html .u588_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u579_normal.png");
}

* html .u590_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u590_normal.png");
}

* html .u592_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u592_normal.png");
}

* html .u594_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Kollaborationstool_files/u594_normal.png");
}

